<div class="form-content">
    <!-- Alert -->
    <app-alert
        *ngIf="showAlert"
        type="info"
        [closeButton]="true"
        (closeAction)="showAlertMessage(false)"
    ></app-alert>

    <!-- Form -->
    <form class="form">
        <div class="input-section">
            <label class="label">CC/NIT <span class="required">*</span></label>
            <input class="input" type="text">
        </div>
        <div class="input-section">
            <label class="label">Name <span class="required">*</span></label>
            <input class="input" type="text">
        </div>
        <div class="input-section">
            <label class="label">Message</label>
            <input class="input" type="text">
        </div>
    </form>
    <div class="actions">
        <app-button
            type="danger"
            label="Reset"
        ></app-button>
        <app-button
            type="success"
            label="Send"
            (action)="showAlertMessage(true)"
        ></app-button>
    </div>
</div>
