<div class="form-content">
    <!-- Alert -->
    <div class="alert info">
        <p class="message">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        <span>&times;</span>
    </div>

    <!-- Form -->
    <form class="form">
        <div class="input-section">
            <label class="label">CC/NIT <span class="required">*</span></label>
            <input class="input" type="text">
        </div>
        <div class="input-section">
            <label class="label">Name <span class="required">*</span></label>
            <input class="input" type="text">
        </div>
        <div class="input-section">
            <label class="label">Message</label>
            <input class="input" type="text">
        </div>
    </form>
    <div class="actions">
        <button class="button danger">
            Reset
        </button>
        <button class="button success">
            Send
        </button>
    </div>
</div>
